@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{ 
    overflow: hidden; 
    background: linear-gradient(-45deg, #112d60, #dd83e0, #abf8e7, #8778c7);
}
body.active
{ 
    overflow: hidden; 
    background: #1a1a1a;
}
section
{
    /* teste */
    width: 100%;
    height: 100%;
    /* teste */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: url(bg1.png); */
    background-size: cover;
    /* background: rgb(58,65,93);
    background: linear-gradient(90deg, rgba(115, 128, 187, 1) 0%, rgba(115, 128, 187, 1) 100%); */
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
    /* teste */
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    /* background: linear-gradient(-45deg, #ebb3a2, #e7b9b9, #83c9e2, #3A415D); */
    /* background: linear-gradient(-45deg, #112d60, #dd83e0, #abf8e7, #8778c7); */
    /* background: linear-gradient(-45deg, #3A415D, #F6D4D4); */
	background-size: 100% 100%;
	/* animation: gradient 15s ease infinite; */
	/* height: 100vh; */
}
/* teste */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* teste */
.container
{
    display: flex;
    align-items:center;
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    min-height: 300px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    padding: 50px;
}
header
{
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
header .logo
{
    color: #3A415D;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}
header ul
{
    display: flex;
}
header ul li
{
    list-style: none;
    margin: 0 10px;
}
input
{
    visibility: hidden;
}
header ul li a
{
    text-decoration: none;
    font-weight: 500;
    color: #3A415D;
    padding: 8px 15px;
    border-radius: 25px;
}
img#moon{
    position: fixed;
    top: 47px;
    left: 17px;
    width: 50px;
    height: 50px;
}
a#toggle
{
    position: fixed;
    top: 50px;
    left: 20px;
    cursor: pointer;
    border: 2px solid rgb(61, 61, 61);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    font-weight: 500;
    color: #3A415D;
    padding: 8px 15px;
    border-radius: 25px;
    z-index: 1;
}
a#toggle.active{
    background: #fff;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.content
{
    transform: translateX(-100px);
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    padding-left: 110px;
}
.content h2
{
    font-size: 3em;
    color: #3A415D;
}
.content p
{
    font-size: 1.2em;
    color: #3A415D;
}
.content a
{
    padding: 15px 30px;
    border-radius: 35px;
    display: inline-block;
    padding-left: 15px 30px;
    background: #fff;
    color: #3A415D;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.imgBx img
{
    max-width: 400px;
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%,100
    {
        transform: translateY(50px);
    }
    50%
    {
        transform: translateY(100px)
    }   
}
.sci
{
    position: absolute;
    right: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li
{
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 0;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
}
.sci li a img
{
    width: 110px;
    height: 110px;
    transform: scale(0.6);
    transition: 0.5s;
}
.sci li:hover a img
{
    transform: scale(0.6) rotate(360deg);
}
.copyrightText
{
    position: absolute;
    bottom: 30px;
    left: 50px;
    color: #3A415D;
}

/* teste */
.containercard
{
    display: flex;
    align-items:center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1220px;
    flex-wrap: wrap;
    /* z-index: 1; */
}
.containercard .card
{
    display: flex;
    align-items:center;
    position: relative;
    width: 280px;
    height: 350px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background:rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.containercard .card .contentcard
{
    padding: 40px;
    text-align: center;
    /* transform: translateY(100px);
    opacity: 0;
    transition: 0.5s; */
}
.containercard .card:hover .contentcard
{
    /* transform: translateY(0px);*/
    opacity: 1; 
}
.containercard .card .contentcard h2
{
    position: absolute;
    top: -10px;
    right: 20px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
}
.containercard .card .contentcard h3
{
    margin-top: 30px;
    font-size: 1.8em;
    color: #fff;
    /* z-index: 1; */
}
.containercard .card .contentcard p
{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.containercard .card .contentcard a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
}
/* content card 2 */
.containercard .card2
{
    
    position: relative;
    width: 280px;
    height: 350px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background:rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
.containercard .card2 .contentcard
{
    padding: 40px;
    text-align: center;
    /* transform: translateY(100px);
    opacity: 0;
    transition: 0.5s; */
}
.containercard .card2:hover .contentcard
{
    /* transform: translateY(0px);*/
    opacity: 1; 
}
.containercard .card2 .contentcard h2
{
    position: absolute;
    top: -10px;
    right: 20px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
}
.containercard .card2 .contentcard h3
{
    margin-top: 30px;
    font-size: 1.8em;
    color: #fff;
    /* z-index: 1; */
}
.containercard .card2 .contentcard p
{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.containercard .card2 .contentcard a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
}
div#containercar{
    justify-content: center;
    align-items: center;
}
div#containercar2{
    justify-content: center;
    align-items: center;
}
div#containercar3{
    justify-content: center;
    align-items: center;
}
img#imgcar1{
    justify-content: center;
    align-items: center;
    max-width: 500px;
    max-height: 500px;

}
img#imgcar2{
    justify-content: center;
    align-items: center;
    max-width: 500px;
    max-height: 500px;
}
img#imgcar3{
    justify-content: center;
    align-items: center;
    max-width: 500px;
    max-height: 500px;
}
img#flor2{
    max-width: 200px;
    max-height: 200px;
}
/* teste */
@media screen and (max-width: 910px){
    body
    {
        /* overflow: auto;  */
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .imgBx img{
        visibility: hidden;
    }
    #imgcontato{
        visibility: hidden;
    }
    #ulcard{
        visibility: hidden;
    }
    #circulo1{
        visibility: hidden;
    }
    #circulo2{
        visibility: hidden;
    }
    #circulo3{
        visibility: hidden;
    }
    #circulo4{
        visibility: hidden;
    }
    #circulo5{
        visibility: hidden;
    }
    #circulo6{
        visibility: hidden;
    }
}
/* bola css */
#circulo1
{
    position: absolute;
    display: block;
    background:#3A415D;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 0;
    background: radial-gradient(circle at 70px 90px, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.3));
    box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.8);
}
#circulo2
{   
    top: 600px;
    left: 300px;
    position: absolute;
    display: block;
    background: #3A415D;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    margin: 0;
    background: radial-gradient(circle at 70px 90px, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.3));
    box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.8);
}
#circulo3
{
    top: 300px;
    left: 600px;
    position: absolute;
    display: block;
    background: #3A415D;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0;
    background: radial-gradient(circle at 70px 90px, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.3));
    box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.8);
}
#circulo4
{
    top: 1450px;
    left: 300px;
    position: absolute;
    display: block;
    background:#3A415D;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0;
    background: radial-gradient(circle at 70px 90px, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.3));
    box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.8);
}
#circulo5
{   
    top: 1400px;
    left: 700px;
    position: absolute;
    display: block;
    background: #3A415D;
    border-radius: 50%;
    height: 700px;
    width: 700px;
    margin: 0;
    background: radial-gradient(circle at 70px 90px, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.3));
    box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.8);
}
#circulo6
{
    top: 2400px;
    left: 100px;
    position: absolute;
    display: block;
    background: #3A415D;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    margin: 0;
    background: radial-gradient(circle at 70px 90px, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.3));
    box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.8);
}
/* bola */
@media screen and (max-width: 410px){
    body
    {
        /* overflow: auto;  */
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .imgBx img{
        visibility: hidden;
    }
    #imgcontato{
        visibility: hidden;
    }
    #ulcard{
        visibility: hidden;
    }
    #circulo1{
        visibility: hidden;
    }
    #circulo2{
        visibility: hidden;
    }
    #circulo3{
        visibility: hidden;
    }
    #circulo4{
        visibility: hidden;
    }
    #circulo5{
        visibility: hidden;
    }
    #circulo6{
        visibility: hidden;
    }
}
/* -------------------------- */
