@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-box-sizing: border-box;
}
body
{ 
    /* overflow: hidden;  */
    overflow-x: hidden;
    background: linear-gradient(#dd83e0, #dd83e0);
}
body.active
{ 
    overflow-x: hidden;
    /* overflow: hidden; */
    background: #070421; 
}
section
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
	background-size: 100% 100%;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.container
{
    display: flex;
    align-items:center;
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    min-height: 300px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    padding: 50px;
}
.container-carousel{
    padding-top: 10px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container-contato{
    padding-top: 10px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header
{
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}
header ul
{
    display: flex;
}
header ul li
{
    list-style: none;
    margin: 0 10px;
}
input
{
    /* visibility: hidden; */
}
header ul li a
{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    text-shadow: rgba(126, 126, 126, 0.664) 1px 1px 5px;
    padding: 8px 15px;
    border-radius: 25px;
}
img#moon{
    opacity: 90%;
    background-image:url(moon.png) ;
    position: fixed;
    top: 32px;
    left: 62px;
    width: 40px;
    height: 40px;
    z-index: 1;
}
img#moon.active{
    opacity: 100%;
    background-image:url(moon.png) ;
    filter: invert(100%);
    position: fixed;
    top: 32px;
    left: 62px;
    width: 40px;
    height: 40px;
}
a#toggle
{
    text-align: left;
    background-image: url(moon.png);
    position: fixed;
    top: 30px;
    left: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-weight: 500;
    color: #21273f;
    padding: 8px 15px;
    border-radius: 25px;
    z-index: 4;
}
a#toggle.active{
    position: fixed;
    top: 30px;
    left: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.61);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding: 8px 15px;
    border-radius: 25px;
    z-index: 1;
}
header ul li a:hover
{
    background: #fff;
    color: #3A415D;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.content
{
    background: rgba(255, 255, 255, 0.2);
    transform: translateX(-100px);
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    padding-left: 110px;
}
.content h2
{
    font-size: 3em;
    color: #3A415D;
}
.content p
{
    font-size: 1.2em;
    color: #3A415D;
}
.content a
{
    padding: 15px 30px;
    border-radius: 35px;
    display: inline-block;
    padding-left: 15px 30px;
    background: linear-gradient(90deg,#e144c7,#f266a5);
    color: #fff;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0px 0px 15px rgba(255, 0, 106, 0.61);
}
.content a:hover
{
    background: #fff;
    color: #3A415D;
}
.imgBx img
{
    max-width: 400px;
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%,100
    {
        transform: translateY(50px);
    }
    50%
    {
        transform: translateY(100px)
    }   
}
.sci
{
    position: absolute;
    right: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li
{
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 0;
}
.sci li a img
{
    width: 110px;
    height: 110px;
    transform: scale(0.6);
    transition: 0.5s;
}
.sci li:hover a img
{
    transform: scale(0.6) rotate(360deg);
}
.copyrightText
{
    position: absolute;
    bottom: 30px;
    left: 50px;
    color: #3A415D;
}
.containercard
{
    display: flex;
    align-items:center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1220px;
    flex-wrap: wrap;
}
.containercard .card
{
    display: flex;
    align-items:center;
    position: relative;
    width: 280px;
    height: 350px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background:rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.containercard .card .contentcard
{
    padding: 40px;
    text-align: center;
    /* transform: translateY(100px);
    opacity: 0;
    transition: 0.5s; */
}
.containercard .card:hover .contentcard
{
    /* transform: translateY(0px);*/
    opacity: 1; 
}
.containercard .card .contentcard h2
{
    position: absolute;
    top: -10px;
    right: 20px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
}
.containercard .card .contentcard h3
{
    margin-top: 30px;
    font-size: 1.8em;
    color: #fff;
}
.containercard .card .contentcard p
{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.containercard .card .contentcard a
{
    box-shadow: 0px 0px 15px rgba(255, 0, 106, 0.61);
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: linear-gradient(90deg,#e144c7,#f266a5);
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
}
.containercard .card2
{
    
    position: relative;
    width: 280px;
    height: 350px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background:rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
.containercard .card2 .contentcard
{
    padding: 40px;
    text-align: center;
    /* transform: translateY(100px);
    opacity: 0;
    transition: 0.5s; */
}
.containercard .card2:hover .contentcard
{
    /* transform: translateY(0px);*/
    opacity: 1; 
}
.containercard .card2 .contentcard h2
{
    position: absolute;
    top: -10px;
    right: 20px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
}
.containercard .card2 .contentcard h3
{
    margin-top: 30px;
    font-size: 1.8em;
    color: #fff;
}
.containercard .card2 .contentcard p
{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.containercard .card2 .contentcard a
{
    box-shadow: 0px 0px 15px rgba(255, 0, 106, 0.61);
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: linear-gradient(90deg,#e144c7,#f266a5);
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
}
.containercard .card2 .contentcard a:hover
{
    background: #fff;
    color: 000;
}
div#containercar{
    justify-content: center;
    align-items: center;
}
div#containercar2{
    justify-content: center;
    align-items: center;
}
div#containercar3{
    justify-content: center;
    align-items: center;
}

img#flor2{
    max-width: 200px;
    max-height: 200px;
}
@media screen and (max-width: 910px){
    ::-webkit-scrollbar {
        display: none;
    }    
    body
    {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .imgBx img{
        visibility: hidden;
    }
    #imgcontato{
        visibility: hidden;
    }
    #ulcard{
        visibility: hidden;
    }
    #circulo1{
        visibility: hidden;
    }
    #circulo2{
        visibility: hidden;
    }
    #circulo3{
        visibility: hidden;
    }
    #circulo4{
        visibility: hidden;
    }
    #circulo5{
        visibility: hidden;
    }
    #circulo6{
        visibility: hidden;
    }
}
#circulo1
{
    position: absolute;
    display: block;
    background:#3A415D;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 0;
    background: radial-gradient(circle at 70px 90px, #866da6, #2e2276);
    box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.8);
}
#circulo2
{   
    top: 600px;
    left: 300px;
    position: absolute;
    display: block;
    background: #3A415D;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    margin: 0;
    background: radial-gradient(circle at 70px 90px, #de89c0, #9c33b3);
    box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.8);
}
#circulo3
{
    top: 300px;
    left: 600px;
    position: absolute;
    display: block;
    background: #3A415D;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0;
    background: radial-gradient(circle at 70px 90px, #ee6cc0, #a3296c);
    box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.8);
}
#circulo4
{
    top: 1450px;
    left: 300px;
    position: absolute;
    display: block;
    background:#3A415D;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0;
    background: radial-gradient(circle at 70px 90px, #de89c0, #9c33b3);
    box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.8);
}
#circulo5
{   
    top: 1400px;
    left: 700px;
    position: absolute;
    display: block;
    background: #3A415D;
    border-radius: 50%;
    height: 700px;
    width: 700px;
    margin: 0;
    background: radial-gradient(circle at 70px 90px, #866da6, #2e2276);
    box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.8);
}
#circulo6
{
    top: 2400px;
    left: 100px;
    position: absolute;
    display: block;
    background: #3A415D;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    margin: 0;
    background: radial-gradient(circle at 70px 90px, #de89c0, #9c33b3);
    box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 450px){
    body
    {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .imgBx img{
        visibility: hidden;
    }
    #imgcontato{
        visibility: hidden;
    }
    #ulcard{
        visibility: hidden;
    }
    #circulo1{
        visibility: hidden;
    }
    #circulo2{
        visibility: hidden;
    }
    #circulo3{
        visibility: hidden;
    }
    #circulo4{
        visibility: hidden;
    }
    #circulo5{
        visibility: hidden;
    }
    #circulo6{
        visibility: hidden;
    }
    a#toggle{
        visibility: hidden;
    }
    img#moon{
        visibility: hidden;
    }
    ::-webkit-scrollbar {
        display: none;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}
.content h2.active
{
    font-size: 3em;
    color: #ffffff;
}
.content p.active
{
    font-size: 1.2em;
    color: #ffffff;
}
.content a.active
{
    color: #ffffff;
}
#logodark.active
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}
#adark.active
{
    color: #fff;
}
#adark.active:hover
{
    background: #fff;
    color: #3A415D;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
#adark2.active
{
    color: #fff;
}
#adark2.active:hover
{
    background: #fff;
    color: #3A415D;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
#adark3.active
{
    color: #fff;
}
#adark3.active:hover
{
    background: #fff;
    color: #3A415D;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
#copyText.active
{
    color: #fff;
}
#textSobre.active
{
    color: #fff;
}
#textC.active
{
    color: #fff;
}
header ul li a.active
{
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-weight: 500;
    color: #3A415D;
    padding: 8px 15px;
    border-radius: 25px;
}
header ul li a:hover
{
    background: #fff;
    color: #3A415D;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
/* teste galeria */
/* div#carouselExampleIndicators
{
} */
img#car1{
    max-width: 500px;
    max-height: 500px;
    border-radius: 50px;
}
img#car2{
    max-width: 500px;
    max-height: 500px;
    border-radius: 50px;
}
img#car3{
    max-width: 500px;
    max-height: 500px;
    border-radius: 50px;
}
/* scrollbar */
button#btnenviar:hover
{
    background: #fff;
    color: #000;
}